.chat-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }

  .chat-message {
    margin: 5px;
    height: auto;
    display: flex;
  }

  .user-message {
    flex-direction: row-reverse;
  }

  .message-bubble {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #E4EDF0;
    max-width: 85%;
  }

  .user-message-bubble {
    background-color: #39bbf2;
  }

  
  
  .message-history {
    flex: 1;
    overflow-y: auto;
    max-height: 200px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  .message-history p {
    margin: 5px 0;
  }
  
  .chat-input {
    display: flex;
    gap: 10px;
  }
  
  input[pInputText] {
    flex: 1;
  }
  
  button[pButton] {
    flex-shrink: 0;
  }
